body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.last-list-item {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  justify-content: center !important;
}

.last-list-item img {
  width: 28px;
}

.last-list-item button {
  display: none !important;
  text-transform: none !important;
  width: 100%;
  background-color: #21e3d2 !important;
}

.drawer-open .last-list-item img {
  display: none;
}

.drawer-open .last-list-item button {
  display: inline-flex !important;
}

.MuiListItem-button {
  border-radius: 6px !important;
}

.MuiListItem-button:hover {
  background-color: rgba(255, 255, 255, 0.24) !important;
}

.left-list-item {
  padding-left: 10px !important;
}

.badge {
  width: 22px;
  height: 14px;
  background-color: #fff;
  color: #331976;
  font-size: 8px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  line-height: 1.5;
}
